*.mp4 filter=lfs diff=lfs merge=lfs -text
*myvideo1.mp4 filter=lfs diff=lfs merge=lfs -text
Images/myvideo1.mp4 filter=lfs diff=lfs merge=lfs -text
Images/myvideo2.mp4 filter=lfs diff=lfs merge=lfs -text
